body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
	margin: 0 auto;
 	width: 940px;
 	border: 1px solid blue;
 	text-align: center;
}

.content-field {
	min-width: 500px;
	border: 1px solid black;
	min-height: 400px;
}

